**/101_ObjectCategories
./mak/images/*.jpg
alex/2/imagesFaces_MobileNetV2.npy
alex/2/imagesPCA_xception.npy
alex/2/imagesPCA_VGG19.npy
alex/2/imagesPCA_VGG16.npy
alex/2/imagesPCA_resnet.npy
final/.DS_Store
alex/2/imagesPCA_mobile.npy
alex/2/features_MobileNetV2.npy
alex/2/features_resnet.npy
alex/2/featuresFaces_InceptionV3.npy
alex/2/featuresFaces_MobileNetV2.npy
alex/2/featuresPCA_inception.npy
alex/2/featuresPCA_mobile.npy
alex/2/featuresPCA_resnet.npy
alex/2/featuresPCA_VGG16.npy
alex/2/featuresPCA_VGG19.npy
alex/2/featuresPCA_xception.npy
alex/2/images_MobileNetV2.npy
alex/2/images_resnet.npy
alex/2/imagesFaces_InceptionV3.npy
alex/2/imagesPCA_inception.npy
.DS_Store
.DS_Store
